*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

#intro{
    position: absolute;
    font-size: 64px;
    width: 471px;
    height: 144px;
    left: 123px;
    top: 198px;
}
#subintro{
    position: absolute;
    font-size: 28px;
    width: 471px;
    height: 144px;
    left: 123px;
    top: 370px;
}
.form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}

#img2{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 900px;
    top: 120px;
}
#download{
    position: absolute;
    width: 500px;
    height: 20px;
    left: 120px;
    top: 650px; 
}
#app-store{
    position: absolute;
    width: 500px;
    height: 20px;
    left: 70px;
    top: 716px; 
}
#play-store{
    position: absolute;
    width: 500px;
    height: 20px;
    left: 340px;
    top: 700px; 
}
button[type="submit"] {
    margin-left: 0px;
}
#email {
    margin-right: 5px;
}

#celular {
    margin-right: 5px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 1130px;
    padding-left: 120px;
}
#informacao {
    width: 210px;
    margin-bottom: 10px;
    margin-left: 50px;
}