body{
    background-color: rgb(238, 238, 238);
}
*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#banner{
    width: 100%;
}
.logo{
    font-family: 'Lora', serif;
    font-size: 20px;
    color: #fff;
    user-select: none;
}
.container {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: black;
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-left: 60px;
    margin-right: 60px;
    background: #FFFFFF;
    box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.25);
}
.image1 {
    width: 400px;
    height: auto;
    margin-right: 20px;
}
.image2 {
    width: 400px;
    height: auto;
    margin-left: 20px;
}