*{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 100px;
    background: #587453;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
  }
  
  .nav-link {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    padding: 0 20px;
  }